* {
  padding: 0;
  margin: 0;
}

body {
  background: url("./fundalQuiz2.jpg");
  background-repeat: no-repeat;
}
/* trebuie sa ma mai gandesc ce fac pt imagini... */

/* body {
  background-image: linear-gradient(blue, yellow);
} */

h1,
h2,
form {
  text-align: center;
}

form {
  box-sizing: border-box;
  overflow: hidden;
}

button {
  padding: 23px 45px;
  color: chartreuse;
  background-color: crimson;
  border: yellow solid 1rem;
  border-radius: 25%;
}

button:hover {
  background-color: red;
  color: white;
  transform: translateY(-2px);
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ______________________________________________________________________________________________ */



.intrebare1 {
  /* color: blue;
  background-color: azure;
  display: inline; */
  /* background-image: url("./pexels-porapak-apichodilok-346885.jpg"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  padding: 25px;
  margin: 3rem;
  font-style: italic;
  color: blue;
  visibility: visible; 
  font-size: 2rem;
}

.intrebare1:hover {
  color: indianred;
  transform: translateX(1px);
  transition: ease 1s;
}
input[type="radio"],
input[type="checkbox"] {
  width: 3em;
  height: 3rem;
  accent-color: green;
  font-size: 2rem;
}

#nextQuestion {
  transform: translateY(150px);
}
/* __________________________________________________________________________________ */

.intrebare-2{
  display: none;
  transform: translateY(-450px);
}

.intrebare-2_active {
  background-color: red;
}
